body {
  margin: 0;
  background-color: #f2f3f8;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #272727;
    color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
}